
@{
    ViewBag.Title = "Diary";
}

<div class="jumbotron">
    <h2>Diary</h2>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>What this project about?</h2>
        <p>
            Within this application the user has control over the entries of a diary entry page, the custom gauge of their glucose levels with an already pre-registered gauge for typical users
            and a reminder page which consists of what time and a message which you can write to remind you of this reminder and why you set a time. Within the button will bring you to
        </p>
        <p><a class="btn btn-default" href="https://www.diabetes.ie/">Need More Info &raquo;</a></p>
    </div>
</div>
