
@{
    ViewBag.Title = "LevelGuide";
}

<h2>Level Guide</h2>

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>LibreLink+</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>What this project about?</h2>
        <p>
            Within this application the user has control over the entries of a diary entry page, the custom gauge of their glucose levels with an already pre-registered gauge for typical users
            and a reminder page which consists of what time and a message which you can write to remind you of this reminder and why you set a time. Within the button will bring you to
        </p>
        <p><a class="btn btn-default" href="https://www.diabetes.ie/">Need More Info &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Why would I use all these pages?</h2>
        <p>
            I set this application up to try help with information gathering and data retreiving from users who have a hard time keeping track
            of their diebetes and their gauges, within this application is mostly aimed at creating information for users to work off and modify
            information that isnt right with them.
        </p>
    </div>
    <div class="col-md-4">
        <h2>What can I do within this application??</h2>
        <p>
            Within the application everything is editable and modifyble as all the information when logged in goes to a database which keeps track of the
            edits and information that is edited, modified as well as entered within the application.
        </p>
    </div>
</div>
